# Hidden Files
.*
!.gitignore
!.gitkeep
!.github
!.travis.yml

# Swift
/build/
/Package.resolved

# Python
*.pyc

# Temporary Items
*.tmp
*.tmp.*
temp

# Virtual Environments
/venv*/

# Configuration Override
*.override.*

# Extra Directories
/Assets/
/Extra/

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
