os: linux
language: generic
sudo: required
dist: xenial
env:
  - SWIFT_VERSION=5.0
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
script:
  - PYTHON_VERSION=2 swift test
  - PYTHON_VERSION=3 swift test
